body {

  opacity: .7;
  background-position: center; 
  background-repeat: no-repeat, repeat; 
  background-size: cover;

}

input {
  opacity: .7;
}

/* Banner */
.banner {

}
.jumbotron {
  text-align: center;

}
h1 {

}
.currentTrainSchedule {

}
table {
  border-radius: 25px;
  width: 90%;
  margin: 10px;
  
}

/* bootstrap .thead-dark */
thead {
  
}

/* bootstrap .col */
th {
  
}

/* tbody */
#addTrainHere {
background-image: url("../images/background.jpg");
background-position: center;
opacity: 0.9;
background-size: cover;


}
